apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb-config
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS beautybay_db;
    GRANT ALL PRIVILEGES ON beautybay_db.* TO 'myuser'@'%' IDENTIFIED BY 'mypassword';
    FLUSH PRIVILEGES;
